<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>About</h1><hr>
    <p><h3>This is a Complaint Application againt violance.The role of Vigilance can be divided into two follwing heads: <br>
    Proactive Vigilance: it is creating awareness and educating all the employees on anti-corruption measures,<br>
    simplification of rules and procedures,plugging loop holes in the system</h3></p>
    <h3>The main purpose for which this important body had been established was to
    ensure all sorts of corruptions in government and public sector could be well prevented and addressed minutely.</h3>
   <h3> Its major role is to recommend government agencies in “planning, executing, reviewing and reforming” their vigilance capability.</h3>
   <h3>Central Government of India formed CVC in the year 1964 as an important body that could take into account the measures <br>
    and steps to prevent all the corruptions especially the governmental ones for a better system and governance.</h3>


</body>
</html>