<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
    h1{
        color:rgb(10, 10, 70);
        font-size: 30px;
        text-align: center;
    }
    li{
        color:chocolate;
        font-size: 20px;
        text-align: center;
    }
    .a{
        color:brown;
        font-size:20px;
    }
    .b{
        color:rgb(38, 86, 208);
        font-size:20px;
    }
    </style>
<body >
   <h1>Contact Us</h1>
   <h1>Developers List</h1><hr>
   <ul>
    <li>Name : Aditya Rajput</li>
    <li class="a">Contact No : 7984765509</li>
    <li class="b">Frontend-HTML/CSS</li>
   </ul>
   <ul>
    <li>Name : Kirtan Kalathiya</li>
    <li class="a">Contact No : 8980768966</li>
    <li class="b">Backend-PHP/Database</li>

   </ul>
   <ul>
    <li>Name : Manish Makvana</li>
    <li class="a">Contact No : 7600988308</li>
    <li class="b">Backend-PHP/Database</li>
   </ul>
   <ul>
    <li>Name : Kishor Suthar</li>
    <li class="a">Contact No :9974038493</li>
    <li class="b">Frontend-HTML/CSS</li>
   </ul>
   <ul>
    <li>Name : Vinit Kshtriya</li>
    <li class="a">Contact No : 7990226369</li>
    <li class="b">Backend-PHP</li>
   </ul><hr>

</body>
</html>